@import "tailwindcss";

@theme {
  --font-dunggeunmo: "DungGeunMo", sans-serif;
  --font-nosutaru: "Nosutaru", sans-serif;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("/assets/fonts/DungGeunMo.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Nosutaru";
  src: url("/assets/fonts/Nosutaru-dotMPlusH-10-Regular.woff") format("woff");
  font-display: swap;
}

/* 스크롤바 커스텀 */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-button {
  display: none;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #cbc1d2;
  border-radius: 9999px;
  border: 2px solid transparent;
  background-clip: padding-box;
}
